<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexo Synaptik</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url('{{ url_for('static', filename='background.jpg') }}');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Nexo Synaptik Logo" class="logo">
    <div class="content">
        <h1>Bienvenido a Nexo Synaptik</h1>
        <p>Transformando Datos en Decisiones Inteligentes</p>
    </div>
</body>
</html>
