body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black; /* Fondo negro */
    color: white; /* Texto en blanco para contraste */
}

.logo {
    margin-top: 20px;
    width: 700px; /* Tamaño ajustado del logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente negro */
    color: white; /* Texto en blanco */
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px; /* Ajuste el espacio entre el logo y el contenido */
    max-width: 700px; /* Asegúrate de que el contenido se alinea con el logo */
}

h1 {
    font-size: 36px; /* Ajusta el tamaño del texto del mensaje de bienvenida */
    margin-bottom: 10px; /* Espaciado inferior del encabezado */
}

p {
    font-size: 24px; /* Ajusta el tamaño del texto del slogan */
    margin-top: 0; /* Espaciado superior del párrafo */
}
